<div class="note-book-container" [class.note-book-is-mobile]="mobileQuery.matches">
    <mat-toolbar style="height:44px;background-color:#343a40;color:snow" class="note-book-toolbar">
        <mat-icon style="cursor:pointer" (click)="snav.toggle()">menu</mat-icon>
        <h1 class="note-book-app-name">My NoteBook</h1>
    </mat-toolbar>
    <mat-sidenav-container class="note-book-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav class="note-book-sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="true" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list style="padding:1rem 1rem">
                <app-note-list (onNoteSelected)="mobileQuery.matches && snav.close()"></app-note-list>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content style="padding:1rem 1rem">
            <app-note-viewer></app-note-viewer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>