<div class="row">
    <div class="col-9">
        <div class="input-group">
            <input tabindex="-1" style="height:26px" [(ngModel)]="searchKeyword" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search Notes">
        </div>
    </div>
    <div class="col-1">
        <mat-icon style="color:#4d4d4d;cursor:pointer" title="Add Note" (click)="addNewNote()">note_add</mat-icon>
    </div>
    <div class="col-1">
        <mat-icon style="color:#4d4d4d;cursor:pointer" title="Remove Note" (click)="removeNote()">delete</mat-icon>
    </div>
</div>
<div *ngFor="let note of noteListData | searchNotes : searchKeyword">
    <div [style.background-color]="note.$key == selectedNoteData.$key ? '#faefd1' : ''" (click)="setNoteToView(note)" class="card p-3">
        <div class="card-block">
            <h6 class="card-title">{{note.noteTitle}}</h6>
            <p class="card-text">{{note.noteDesc | slice:0:35}} {{note.noteDesc && note.noteDesc.length > 35 ? '...' : ''}} </p>
            <footer>
                <small class="text-muted">{{note.noteCreatedDate | date:'long'}}</small>
            </footer>
        </div>
    </div>
</div>