.card-title{
    margin: 0;
}

.card-text{
    margin: 0;
    font-size:0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card{
    cursor: pointer;
}

input,textarea{
    // border: none;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}