.card-text{
  font-size:0.9rem;
}
.card-title{
  font-size: 1.2rem;
}
textarea{
  border: none;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

input{
  // border: none;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}