<div class="container-fluid">
    <div *ngIf="selectedNoteData.$key">
        <div style="margin-bottom:5px" class="row">
            <p *ngIf="!isTitleEditable" (click)="setTitleEditable(true)" style="margin:0;">{{selectedNoteData.noteTitle}}</p>
            <input #editableTitle *ngIf="isTitleEditable" (blur)="setTitleEditable(false)" tabindex="-1" style="height:26px;width:250px" (keydown)="saveSelectedNote()"
                [(ngModel)]="selectedNoteData.noteTitle" type="text" class="form-control" placeholder="Search Notes">
        </div>
        <div class="card p-3">
            <div class="card-block">
                <textarea #editableArea [(ngModel)]="selectedNoteData.noteDesc" (keydown)="saveSelectedNote()" placeholder="Write here.."
                    class="form-control" rows="20"></textarea>
                <footer>
                    <small class="text-muted">Last Saved at {{selectedNoteData.noteCreatedDate | date:'mediumTime'}}</small>
                </footer>
            </div>
        </div>
    </div>
    <div style="text-align: center;" *ngIf="!selectedNoteData.$key">
        <span class="align-middle">No Note is Selected</span>
    </div>
</div>